.beaconUIQueriesContainer {
  padding-left: 74px;
  padding-right: 16px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  max-height: 100vh;
  overflow-y: auto;
}

.beaconUIQueriesContainer h2.user-path {
  margin: 0;
  padding: 0;
  color: #4a88b1;
  font-size: 14px;
  font-weight: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.user-path-title {
  font-weight: bold;
  color: #185177;
}

.list-description {
  margin-top: 0px;
}

.ui-beacon-images-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  margin-top: 14px;
}

.ui-beacon-images {
  width: 90%;
  max-width: 724px;
  margin: 14px auto 0 auto;
  overflow: visible;
}

.ui-beacon-images-smaller {
  width: 40%;
  max-width: 724px;
  overflow: visible;
}

@media (max-width: 800px) {
  .beaconUIQueriesContainer {
    padding-right: 16px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: 500px) {
  .beaconUIQueriesContainer {
    padding-right: 16px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
}
